<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>🧠 Brainstorm.AI</title>
    <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css">
    <script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>

<body>
    <h1>🧠 Brainstorm.AI</h1>
    <div class="tips">
        <p id="message">Initializing Sync...</p>
        <p>Open this page in a few tabs to test!</p >
    </div>

    <div class="idea" py-click="getNewIdea">
        <p>Click to get a new idea!</p>
        <img src="{{ url_for('static', filename='assets/idea.jpg') }}" alt="Click Me" class='idea' id='idea'>
    </div>

    <div id="page" class="whiteboard" py-click="manageUserClick" ></div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://sdk.twilio.com/js/sync/releases/3.0.1/twilio-sync.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script type="py" src="{{ url_for('static', filename='main.py')}}" config="{{ url_for('static', filename='pyscript.json')}}"></script>
</body>

</html>